body {
}

.display-camera-element {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid black;
}

.display-camera-element video {
    width: 500px;
    height: 400px;
    object-fit: cover;
}
