@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Image Editor App</h2>
    <h6>Apply to any filter to image that yopu drop in.</h6>
</div>

<div class="display-camera-element">
    <video id="webcamView"></video>
</div>

<button id="liveButton" class="btn btn-primary">Begin Video View</button>
<asp:button class="btn btn-primary"> Capture Image </asp:button>

<script type="text/javascript" src="~/lib/webcamjs/webcam.js"></script>

<script>

    // Display the webcam view to screen

    const webCamViewElement = document.getElementById('webcamView');
    const liveTriggerButton = document.getElementById('liveButton');
    const canvasElement = document.getElementById('canvas');
    var mediaDevices = navigator.mediaDevices;

    function openWebCamera() {
        Webcam.set({
            width: 500,
            height: 375,
            image_format: 'png',
            jpeg_quality: 100
        });

        Webcam.attach('#webcamView');

        /*mediaDevices.getUserMedia({
            video: true,
            audio: true,
        }).then((stream) => {
            webCamViewElement.srcObject = stream;
            webCamViewElement.addEventListener("loadedmetadata", () => {
                webCamViewElement.play();
            });
        }).catch(alert);*/
    }

    liveTriggerButton.addEventListener("click", () => {
        openWebCamera();
    })

</script>
