@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Image Editor App</h2>
    <h6>Apply to any filter to image that yopu drop in.</h6>
</div>

<div class="display-camera-element">

    <img alt="This is the display preview element"/>
</div>

<asp:button class="btn btn-primary">Begin Video View</asp:button>
<asp:button class="btn btn-primary"> Capture Image </asp:button>
