@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Image Editor App</h2>
    <h6>Apply to any filter to image that yopu drop in.</h6>
</div>

<div>
    <h3> Test text button </h3>
    <button class="btn btn-primary"> Apply Image Filters </button>
</div>

<div>
    <img />
</div>
